* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  all: unset;
}

.container {
  width: 825px;
  margin: 50px auto;
  position: relative;
}

article {
  border: 3px solid black;
}

.sale-btn {
  background-color: #ff0000;
  color: #fff;
  position: absolute;
  padding: 10px 20px;
  top: -17px;
  left: -40px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
}

.product-header {
  padding: 15px 0;
  text-align: center;
  line-height: 30px;
  background-color: #f7f7f7;
}

.product-header,
h3,
.shipping,
button {
  text-transform: uppercase;
}

.product-img {
  width: 33.33%;
  margin-bottom: 5px;
}

.price {
  font-size: 24px;
  margin-bottom: 5px;
}

.shipping {
  color: gray;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 15px;
}

.info-link,
.info-link:visited,
.info-link:active,
.info-link:focus {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}
.info-link:hover {
  text-decoration: none;
}

.pick-color {
  list-style: none;
  margin: 0 0 15px;
}

.shoe-color {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.shoe-color:nth-child(1) {
  background-color: #000;
}
.shoe-color:nth-child(2) {
  background-color: #4c4ca9;
}
.shoe-color:nth-child(3) {
  background-color: #ff0000;
}
.shoe-color:nth-child(4) {
  background-color: #ff9900;
}
.shoe-color:nth-child(5) {
  background-color: #19a525;
}
.shoe-color:nth-child(6) {
  background-color: brown;
}

.product-details {
  margin-bottom: 15px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

.button {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  border-top: 4px solid black;
  width: 100%;
  text-align: center;
}

.button:hover {
  background-color: white;
  color: black;
}
